/*
 * basic style
 */
a{
    color: rgb(175, 9, 23);
}
a:hover{
    color: rgb(175, 9, 23);
}

.container {
  max-width: 960px;
}

/*
 * Custom translucent site header
 */

.site-header {
  background-color: rgba(255, 255, 255, 1);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.navbar{
    padding: 0 1rem;
}
a.nav-link{
    margin-top: 2rem;
    color: rgb(175, 9, 23)!important;
    padding-right: 1rem;
    padding-left: 1rem;
}
.navbar-nav li.active{
    background: rgb(175, 9, 23);
}
.navbar-nav li.nav-item{
    margin: 0 .5rem
}
.navbar-nav li.active a.nav-link{
    color: #fff!important;
}
.form-inline .form-control {
    display: none;
}
/*
 * Dummy devices (replace them with your own or something else entirely!)
 */

.product-device {
  position: absolute;
  right: 10%;
  bottom: -30%;
  width: 300px;
  height: 540px;
  background-color: #333;
  border-radius: 21px;
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
}

.product-device::before {
  position: absolute;
  top: 10%;
  right: 10px;
  bottom: 10%;
  left: 10px;
  content: "";
  background-color: rgba(255, 255, 255, .1);
  border-radius: 5px;
}

.product-device-2 {
  top: -25%;
  right: auto;
  bottom: 0;
  left: 5%;
  background-color: #e5e5e5;
}


/*
 * Extra utilities
 */

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.flex-equal > * {
  -ms-flex: 1;
  -webkit-box-flex: 1;
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    -webkit-box-flex: 1;
    flex: 1;
  }
}

.overflow-hidden { overflow: hidden; }

/*
 * Resbonsive
 */
@media (min-width: 992px){
    .navbar-expand-lg .navbar-collapse {
         height: 100%;   
    }
    .navbar-expand-lg .navbar-nav {
        height: 100%;
    }
}