/********************************/
/*         Basic                */
/********************************/
*::selection{
    background-color: rgb(255, 215, 0);
    color: black;
}
a{
    color: rgb(175, 9, 23);
}
a:hover{
    color: rgb(175, 9, 23);
}

.container {
  max-width: 960px;
}
.theme-button{
    background-color: rgb(255, 215, 0);
    color: #000;
    border-color: rgb(255, 215, 0);
    box-shadow: 0px 4px 20px 1px rgba(0, 0, 0,.1);
    font-weight: 600;
}
.theme-button:focus{
    box-shadow: 0px 0px 6px 0.2rem rgba(255, 215, 0,.5);
}
.theme-button:hover{
    background-color: rgb(255, 235, 0);
    color: #000;
    border-color: rgb(255, 215, 0);
}
.corner-block-top{
    border-top-right-radius: 2rem;
}
.corner-block-bottom{
    border-bottom-left-radius: 2rem;
}
.title{
    margin-bottom: 2.5rem;
    text-align: center;
}
.title h2{
    color: #fff;
    font-weight: 500;
}
/********************************/
/*         Navbar               */
/********************************/
.site-header {
    background-color: rgba(255, 255, 255, 1);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    box-shadow: 1px 4px 11px 1px rgba(0,0,0,.2);
}
.navbar{
    padding: 0 1rem;
}
a.nav-link{
    margin-top: 2rem;
    color: rgb(175, 9, 23)!important;
    padding-right: 1rem;
    padding-left: 1rem;
}
.navbar-nav li.active{
    background: rgb(175, 9, 23);
}
.navbar-nav li.nav-item{
    margin: 0 .5rem
}
.navbar-nav li.active a.nav-link{
    color: #fff!important;
}
.form-inline .form-control {
    display: none;
}
.navbar-toggler{
    margin-left: 12rem;
    margin-top: 1.5rem;
}

/********************************/
/*         Slider                */
/********************************/
.carousel-item {
    height: 90vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.overlay{
    position: fixed;
    width: 100%;
    height: 100%; 
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.3);
    z-index: 2; 
    cursor: pointer; 
}
.carousel-caption{
    top: 30%;
    left: 20%;
    text-align: left;
    max-width: 600px;
}
.carousel-caption h1{
    font-size: 4rem;
    font-weight: 600;
} 
.carousel-caption p{
    
}

/********************************/
/*       seconde section        */
/********************************/
.section-2{
    width: 100%;
    background-color: rgb(175, 9, 23);
    padding: 75px 0px;
}
.section-2 .title{
    margin-bottom: 2.5rem;
    text-align: center;
}
.section-2 .title h2{
    color: #fff;
    font-weight: 500;
}
.feature-image{
    max-width: 100%;
    height: 100%;
}
.text-block{
    padding: 3rem;
    background-color: #fff;
}
.text-block p{
    margin-bottom: 2rem;
    color: #222;
}


/********************************/
/*       third section        */
/********************************/
.section-3{
    width: 100%;
    padding: 75px 0px;
}
.section-3 .title{
    margin-bottom: 2.5rem;
    text-align: center;
}
.section-3 .title h2{
    color: #000;
    font-weight: 500;
}
.section-3 .card-left{
    padding-right: 2.5rem;
}
.section-3 .card-right{
    padding-left: 2.5rem;
}
.section-3 .text-card{
    background-color: rgb(175, 9, 23);
    padding: 3rem;
}
.section-3 .text-card h4 {
    color: #fff;
    margin-bottom: 0;
}
.section-3.text-card  span, p{
    color: #eee;
}
.section-3 .text-card  p{
    margin-top: 1rem;
}
/********************************/
/*       Dummy devices (replace them with your own or something else entirely!)     */
/********************************/
.product-device {
    position: absolute;
    right: 10%;
    bottom: -30%;
    width: 300px;
    height: 540px;
    background-color: #333;
    border-radius: 21px;
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
}

.product-device::before {
    position: absolute;
    top: 10%;
    right: 10px;
    bottom: 10%;
    left: 10px;
    content: "";
    background-color: rgba(255, 255, 255, .1);
    border-radius: 5px;
}

.product-device-2 {
    top: -25%;
    right: auto;
    bottom: 0;
    left: 5%;
    background-color: #e5e5e5;
}


/********************************/
/*      Extra utilities     */
/********************************/
.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.flex-equal > * {
    -ms-flex: 1;
    -webkit-box-flex: 1;
    flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    -webkit-box-flex: 1;
    flex: 1;
  }
}

.overflow-hidden { overflow: hidden; }


/********************************/
/*          Media Queries       */
/********************************/
@media (min-width: 992px){
    .navbar-expand-lg .navbar-collapse {
         height: 100%;   
    }
    .navbar-expand-lg .navbar-nav {
        height: 100%;
    }
}