/********************************/
/*         Basic                */
/********************************/
*::selection{
    background-color: rgb(255, 215, 0);
    color: black;
}
a{
    color: rgb(175, 9, 23);
}
a:hover{
    color: rgb(175, 9, 23);
    text-decoration: none;
}

.container {
  max-width: 960px;
}
.theme-button{
    background-color: rgb(255, 215, 0);
    color: #000;
    border-color: rgb(255, 215, 0);
    box-shadow: 0px 4px 20px 1px rgba(0, 0, 0,.1);
    font-weight: 600;
    transition: all 1s ease;
}
.theme-button:focus, .theme-button:active{
    box-shadow: 0px 0px 6px 0.2rem rgba(255, 215, 0,.5);
    background-color: rgb(255, 215, 0)!important;
}
.theme-button:hover{
    background-color: rgb(255, 235, 0);
    color: #000;
    border-color: rgb(255, 215, 0);
}
.theme-button-light{
    background-color: #fff;
    color: rgb(175, 9, 23);
    border-color: #fff;
    box-shadow: 0px 4px 20px 1px rgba(0, 0, 0,.1);
    font-weight: 600;
    transition: all 1s ease;
}
.theme-button-light:focus, .theme-button:active{
    box-shadow: 0px 0px 6px 0.2rem rgba(255, 215, 0,.5);
    background-color: rgb(255, 215, 0)!important;
}
.theme-button-light:hover{
    background-color: rgb(255, 235, 0);
    color: #000;
    border-color: rgb(255, 215, 0);
}
.corner-block-top{
    border-top-right-radius: 2rem;
}
.corner-block-bottom{
    border-bottom-left-radius: 2rem;
}
.title-light, .title-dark{
    margin-bottom: 2.5rem;
    text-align: center;
}
.title-light h2{
    color: #fff;
    font-weight: 500;
}
.title-dark h2{
    color: #000;
    font-weight: 500;
}
/********************************/
/*         Navbar               */
/********************************/
.site-header {
    background-color: rgba(255, 255, 255, 1);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    box-shadow: 1px 4px 11px 1px rgba(0,0,0,.2);
}
.navbar{
    padding: 0 1rem;
}
a.nav-link{
    margin-top: 2rem;
    color: rgb(175, 9, 23)!important;
    padding-right: 1rem;
    padding-left: 1rem;
}
.navbar-nav li.active{
    background: rgb(175, 9, 23);
}
.navbar-nav li.nav-item{
    margin: 0 .5rem
}
.navbar-nav li.active a.nav-link{
    color: #fff!important;
}
.form-inline .form-control {
    display: none;
}
.navbar-toggler{
    margin-top: 1.5rem;
    margin-left: 8rem;
}

/********************************/
/*         Slider                */
/********************************/
.carousel-item {
    height: 90vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.overlay{
    width: 100%;
    height: 100%; 
    background-color: rgba(0,0,0,0.5);
    z-index: 2; 
    cursor: pointer; 
}
.carousel-caption{
    top: 30%;
    left: 15%;
    text-align: left;
    max-width: 450px;
}
.carousel-caption h1{
    font-size: 4rem;
    font-weight: 600;
} 
.carousel-caption p{
    
}

/********************************/
/*       seconde section        */
/********************************/
.section-2{
    width: 100%;
    background-color: rgb(175, 9, 23);
    padding: 75px 0px;
}
.feature-image{
    max-width: 100%;
    height: 100%;
}
.text-block{
    padding: 3rem;
    background-color: #fff;
}
.text-block p{
    margin-bottom: 2rem;
    color: #222;
}


/********************************/
/*       third section        */
/********************************/
.section-3{
    width: 100%;
    padding: 75px 0px;
}
.section-3 .card-left{
    padding-right: 2.5rem;
}
.section-3 .card-right{
    padding-left: 2.5rem;
}
.section-3 .text-card{
    background-color: rgb(175, 9, 23);
    padding: 3rem;
}
.section-3 .text-card h4 {
    color: #fff;
    margin-bottom: 0;
}
.section-3.text-card  span, p{
    color: #eee;
}
.section-3 .text-card  p{
    margin-top: 1rem;
}

/********************************/
/*       agenda                 */
/********************************/
.agenda{
    width: 100%;
    height: 100%;
    min-height: 300px;
    padding: 75px 0px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-image: url(../img/agendaoverlay.jpg);
}
.list-agenda{
    text-align: center;
    width: 100%;
}
.list-agenda ul {
    padding: 0;
}
.list-agenda ul > a > li {
    display: inline-flex;
    min-width: 100%;
    height: 4.3rem;
    background-color: white;
    padding: 1rem;
    margin-bottom: 2rem;
    border-radius: .25rem;
    position: relative;
    top: 0;
    transition: all .1s ease-out;
    animation-duration: 0.3s;
    animation-delay: 0s;
    animation-name: fadeInUp;
}
.list-agenda ul > a > li:hover{
    -webkit-box-shadow: 0 15px 25px rgba(255, 255, 255, 0.2);
    box-shadow: 0 15px 25px rgba(255, 255, 255, 0.2);
    top: -6px;
}
.list-agenda ul > a> li h2{
    padding-right: 1.8rem;
    color: rgb(175, 9, 23);
}
.list-agenda ul > a > li span{
    padding: .5rem 2rem 0;
    color: #222;
}
.list-agenda ul > a > li p{
    padding: 0 2rem;
    padding-right: 21rem;
    margin: 0;
    font-size: 1.5rem;
    color: #111;
}
.list-agenda ul > a  > li > i{
    font-size: 2rem;
    color: rgb(255, 215, 0);
}

/********************************/
/*       preek gemist?           */
/********************************/
.preek{
    width: 100%;
    background-color: rgb(175, 9, 23);
    padding: 75px 0px;
}
.list-preek{
    text-align: center;
    width: 100%;
}
.list-preek ul {
    padding: 0;
}
.list-preek ul > li {
    display: inline-flex;
    min-width: 100%;
    height: 4.3rem;
    background-color: white;
    padding: 1rem;
    margin-bottom: 2rem;
    border-radius: .25rem;
    position: relative;
    top: 0;
    transition: all .1s ease-out;
    animation-duration: 0.3s;
    animation-delay: 0s;
    animation-name: fadeInUp;
}
.list-preek ul > li:hover{
    -webkit-box-shadow: 0 15px 25px rgba(255, 255, 255, 0.2);
    box-shadow: 0 15px 25px rgba(255, 255, 255, 0.2);
    top: -6px;
}
.list-preek ul > li h2{
    padding-right: 1.8rem;
    color: #000;
    float: left;
}
.list-preek ul > li span{
    padding: .5rem 2rem 0;
    color: #222;
    vertical-align: middle;
}
.list-preek ul > li audio{
    width: 500px;
    margin-right: 1rem;
}
.list-preek ul > li a{
    vertical-align: super;
}
.list-preek ul > li a i{
    font-size: 1.7rem;
}

/********************************/
/*       Footer                 */
/********************************/
footer{
    background-color: #3e3d3d;
}
footer ul > li > a {
    color: #d4d4d4!important;
}
footer ul > li > span{
    color: #d4d4d4!important;
}
#double li{
    float: left;
    display: inline;
    width: 50%
}
.social li > i {
    color: rgb(255, 215, 0)!important;
    margin-right: .5rem;
}
footer h5{
    color: #fff;
}
footer p{
    font-size: .9rem;
    color: #999;
}

/********************************/
/*          Media Queries       */
/********************************/

@media (max-width: 1200px) { 

}


@media (max-width: 992px) { 
    .list-preek ul > li h2,
    .list-agenda ul > a > li p{
        font-size: 1rem;
    }
    
    .list-agenda ul > a> li h2{
        font-size: 1.5rem;
    }
    .list-preek ul > li span{
        padding: 0 1rem;
    }
     .list-agenda ul > a > li span{
        padding: 0 1.5rem;
    }
    .list-agenda ul > a > li p{
        padding: 0rem 5rem; 
        padding-right: 15rem;
    }
}



@media (max-width: 769px) { 
    .carousel-caption {
        top: 20%;
        left: 12%;
    }
    .carousel-caption h1 {
        font-size: 3rem;
        font-weight: 600;
    } 
    .list-agenda ul > a > li p{
        padding-right: 12rem;
    }
    .title-light h2,
    .title-dark h2{
        font-size: 2rem;
        font-weight: 600;
    }
    .section-3 .text-card {
        padding: 1rem .5rem;
    }
    
}

@media (max-width: 576px) { 
    body{
        font-size: 0.8rem;
    }
    .carousel-caption h1 {
        font-size: 2.5rem;
        font-weight: 600;
    } 
    .mobile-nowarp{
        flex-wrap: nowrap;
    }
    .section-3 .card-left, 
    .section-3 .card-right{
        padding: 2rem;
    }
    .section-3 .text-card {
        padding: 1rem .5rem;
    }
    .h2, h2 {
        font-size: 1rem;
    }
    /********************************/
    /*       agenda                 */
    /********************************/
    .list-agenda ul > a > li {
        padding: .5rem 1rem;
    }
    .list-agenda ul > a> li h2{
    padding-right: .8rem;
        font-size: 1rem;
    }
    .list-agenda ul > a > li span{
        padding: 0rem .8rem;
    }
    .list-agenda ul > a > li p{
    padding: 0 .8rem;
    font-size: 1rem;
    }
    .list-agenda ul > a  > li > i{
    font-size: 2rem;
    }
    /********************************/
    /*       preek gemist?           */
    /********************************/
    .list-preek ul > li {
        display: flow-root;
        min-width: 100%;
        height: auto;
    }
    .list-preek ul > li h2{
        padding-right: 0;
        float: left;
    }
    .list-preek ul > li span{
        padding: 0;
        float: right;
    }
    .list-preek ul > li audio{
        width: 87%;
        margin-right: 0;
    }
    .list-preek ul > li a{
        vertical-align: super;
    }
    .list-preek ul > li a i{
        font-size: 1.7rem;
    }
}